/* Bootstrap Overrides */
.jumbotron {
  color: white;
  background-image: url("../img/moher.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  opacity: 0.9;
}


/* Background colors */

.lightpink {
	background-color: #f9ecec;
}

.pink {
	background-color: #f0d9da;
}

.babyblue {
	background-color: #ecf2f9;
}

.cobalt {
	background-color: #c8d9eb;
} 

/* Text Colors */

.lightpink-text {
	color: #f9ecec;
}

.pink-text {
	color: #f0d9da;
}

.babyblue-text {
	color: #ecf2f9;
}

.cobalt-text {
	color: #c8d9eb;
} 

.black {
	color: #000000;
}

.white {
	color: #FFFFFF;
}